{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block content %}

<p>signup<p>

<p class="text-center"><a href="{% url 'social:begin' 'facebook' %}?next={% url 'accounts:signup_social' %}" class="button">Facebook Login</a></p>

<form action="" method="post">
  {{ form }}
  {% csrf_token %}
  <p class="text-center"><input type="submit" value="signup" class="button"></p>
</form>

<p class="text-center"><a href="{% url 'social:begin' 'facebook' %}?next={% url 'accounts:login' %}">login</a></p>

{% endblock %}
