{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block content %}

<div style="margin: 0;
background: rgba(255, 255, 255, 1.0);">
    <input id="anPageName" name="page" type="hidden" value="home"/>
    <div class="home">
        <div class="hooter">
            <div class="rectangle4">
            </div>
            <div class="u30d5u30c3u30bfu30fc">
                フッター
            </div>
        </div>
        <img anima-src="{% static 'img/home-reasn1@2x.png' %}" class="reason2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-reasn1@2x.png' %}" class="reasn1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-reasn1@2x.png' %}" class="reason21" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-reasn1@2x.png' %}" class="reasn11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-reasn1@2x.png' %}" class="reason22" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-reasn1@2x.png' %}" class="reasn12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="rectangle27">
        </div>
        <div class="group12">
            <div class="enybanku304cu9078u3070u308cu308bu7406u7531">
                EnyBankが選ばれる理由
            </div>
        </div>
        <a href="https://eny-bank.com" target="_blank">
            <div class="airsoul">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30a8u30a2u30bdu30a6u30eb">
                    エアソウル
                </div>
            </div>
        </a>
        <div class="eaastar">
            <a href="https://eny-bank.com" target="_blank">
                <div class="rectangle5">
                </div>
            </a>
            <div class="group25">
                <div class="rectangle21">
                </div>
                <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="u30a4u30fcu30b9u30bfu30fcu822au7a7a">
                イースター航空
            </div>
        </div>
        <a href="https://eny-bank.com" target="_blank">
            <div class="chuju">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30c1u30a7u30b8u30e5u822au7a7a">
                    チェジュ航空
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="teawei">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30c6u30a3u30fcu30a6u30a7u30a4u822au7a7a">
                    ティーウェイ航空
                </div>
            </div>
        </a>
        <div class="airbsan">
            <a href="https://eny-bank.com" target="_blank">
                <div class="rectangle5">
                </div>
            </a>
            <div class="group25">
                <div class="rectangle21">
                </div>
                <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="u30a8u30a2u30d7u30b5u30f3">
                エアプサン
            </div>
        </div>
        <a href="https://eny-bank.com" target="_blank">
            <div class="sev">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30bbu30d6u30fbu30d1u30b7u30d5u30a3u30c3u30afu822au7a7a">
                    セブ・パシフィック航空
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="tiger">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30bfu30a4u30acu30fcu30a8u30a2u53f0u6e7e">
                    タイガーエア台湾
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="hongkong">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u9999u6e2fu30a8u30afu30b9u30d7u30ecu30b9u822au7a7a">
                    香港エクスプレス航空
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="scoot">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30b9u30afu30fcu30c8scoot">
                    スクート(Scoot)
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="indnesia">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30a4u30f3u30c9u30cdu30b7u30a2u30fbu30a8u30a2u30a2u30b8u30a2x">
                    インドネシア・
                    <br/>
                    エアアジアX
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="tai">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30bfu30a4u30fbu30a8u30a2u30a2u30b8u30a2x">
                    タイ・エアアジアX
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="spring">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u6625u79cbu822au7a7au65e5u672c">
                    春秋航空日本
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="jetstar">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30b8u30a7u30c3u30c8u30b9u30bfu30fc">
                    ジェットスター
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="vanila">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-21 14@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-21 1@2x.png' %}" class="rectangle212" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-line-11 3@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30d0u30cbu30e9u30fbu30a8u30a2">
                    バニラ・エア
                </div>
            </div>
        </a>
        <a href="https://eny-bank.com" target="_blank">
            <div class="peach">
                <div class="rectangle5">
                </div>
                <div class="group25">
                    <div class="rectangle21">
                    </div>
                    <img anima-src="{% static 'img/-rectangle-21 28@2x.png' %}" class="rectangle211" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="rectangle43">
                    </div>
                </div>
                <img anima-src="{% static 'img/home-line-11 14@2x.png' %}" class="line11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="u30d4u30fcu30c1u822au7a7apeach">
                    ピーチ航空(Peach)
                </div>
            </div>
        </a>
        <div class="group57">
            <div class="u5927u304du3055u3067u9078u3076">
                大きさで選ぶ
            </div>
            <div class="group54">
                <div class="group30">
                    <div class="rectangle40">
                    </div>
                    <div class="rectangle42">
                    </div>
                    <div class="rectangle421">
                    </div>
                    <div class="rectangle422">
                    </div>
                </div>
                <div class="group31">
                    <img anima-src="{% static 'img/home-line-5@2x.png' %}" class="line5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="group301">
                        <div class="rectangle40">
                        </div>
                        <div class="rectangle42">
                        </div>
                        <div class="rectangle421">
                        </div>
                        <div class="rectangle422">
                        </div>
                    </div>
                    <img anima-src="{% static 'img/home-line-15@2x.png' %}" class="line15" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
            </div>
        </div>
        <div class="group15">
            <div class="rectangle30">
            </div>
            <div class="group14">
                <div class="rectangle5">
                </div>
                <div class="u5199u771f">
                    写真
                </div>
            </div>
            <div class="u301057u6ccau3011u30eau30e2u30a2u30b5u30ebu30b5u30a8u30a2u30fc4u8f2a">
                【5~7泊】リモア　サルサエアー　4輪　3.2kg
            </div>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="a800u51861u65e5">
                800円/1日
            </div>
        </div>
        <div class="group151">
            <div class="rectangle30">
            </div>
            <div class="group14">
                <div class="rectangle5">
                </div>
                <div class="u5199u771f">
                    写真
                </div>
            </div>
            <div class="u301057u6ccau3011u30eau30e2u30a2u30b5u30ebu30b5u30a8u30a2u30fc4u8f2a">
                【5~7泊】リモア　サルサエアー　4輪　3.2kg
            </div>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="a800u51861u65e5">
                800円/1日
            </div>
        </div>
        <div class="group152">
            <div class="rectangle30">
            </div>
            <div class="group14">
                <div class="rectangle5">
                </div>
                <div class="u5199u771f">
                    写真
                </div>
            </div>
            <div class="u301057u6ccau3011u30eau30e2u30a2u30b5u30ebu30b5u30a8u30a2u30fc4u8f2a">
                【5~7泊】リモア　サルサエアー　4輪　3.2kg
            </div>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="a800u51861u65e5">
                800円/1日
            </div>
        </div>
        <div class="uf3a4">
            
        </div>
        <div class="u822au7a7au4f1au793eu3067u9078u3076">
            航空会社で選ぶ
        </div>
        <img anima-src="{% static 'img/home-line-9 4@2x.png' %}" class="line9" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-line-9 1@2x.png' %}" class="line91" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="llu30b5u30a4u30ba">
            <div class="rectangle5">
            </div>
            <img anima-src="{% static 'img/home-rectangle-5 2@2x.png' %}" class="rectangle51" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="llu30b5u30a4u30bau306eu4e00u89a7u3078">
                LLサイズの一覧へ
            </div>
            <div class="u4e09u8fbau5408u8a08153166cmu91cdu91cf">
                三辺合計: 153~166cm
                <br/>
                重量: ~5.7kg
                <br/>
                容量: 90L~
            </div>
            <div class="combinedshape">
            </div>
            <div class="u5927u91cfu306eu51acu670du3084u3001u304au571fu7523u3092u904bu3076u306eu306bu30aau30b9u30b9u30e1">
                大量の冬服や、お土産を運ぶのにオススメ
            </div>
            <div class="a9u65e5u5411u3051">
                9日~向け
            </div>
            <div class="group26">
                <img anima-src="{% static 'img/home-u8d64u3044u3084u3064@2x.png' %}" class="u8d64u3044u3084u3064" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="ll">
                    LL
                </div>
            </div>
        </div>
        <div class="lu30b5u30a4u30ba">
            <div class="rectangle5">
            </div>
            <div class="group27">
                <img anima-src="{% static 'img/home-rectangle-5 2@2x.png' %}" class="rectangle51" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="lu30b5u30a4u30bau306eu4e00u89a7u3078">
                    Lサイズの一覧へ
                </div>
            </div>
            <div class="u4e09u8fbau5408u8a08144155cmu91cdu91cf">
                三辺合計: 144~155cm
                <br/>
                重量: ~5.2kg
                <br/>
                容量: 70~89L
            </div>
            <div class="combinedshape">
            </div>
            <div class="u30a2u30e1u30eau30abu3084u30e8u30fcu30edu30c3u30d1u306au3069u306eu3001u9060u51fau306bu30aau30b9u30b9">
                アメリカやヨーロッパなどの、遠出にオススメ
            </div>
            <div class="a9u65e5u5411u3051">
                ~9日向け
            </div>
            <div class="group26">
                <img anima-src="{% static 'img/home-u8d64u3044u3084u3064 1@2x.png' %}" class="u8d64u3044u3084u3064" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="l">
                    L
                </div>
            </div>
        </div>
        <div class="mu30b5u30a4u30ba">
            <div class="rectangle5">
            </div>
            <div class="group27">
                <img anima-src="{% static 'img/home-rectangle-5 2@2x.png' %}" class="rectangle51" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="mu30b5u30a4u30bau306eu4e00u89a7u3078">
                    Mサイズの一覧へ
                </div>
            </div>
            <div class="u4e09u8fbau5408u8a08131139cmu91cdu91cf">
                三辺合計: 131~139cm
                <br/>
                重量: ~4.8kg
                <br/>
                容量: 40~69L
            </div>
            <div class="combinedshape">
            </div>
            <div class="u97d3u56fdu30fbu53f0u6e7eu306au3069u3001u30a2u30b8u30a2u306eu3088u3046u306au8fd1u5834u306eu6d77u5916">
                韓国・台湾など、アジアのような近場の海外旅行にオススメ
            </div>
            <div class="a6u65e5u5411u3051">
                ~6日向け
            </div>
            <div class="group28">
                <img anima-src="{% static 'img/home-u8d64u3044u3084u3064 2@2x.png' %}" class="u8d64u3044u3084u3064" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="m">
                    M
                </div>
            </div>
        </div>
        <div class="su30b5u30a4u30ba">
            <div class="rectangle5">
            </div>
            <div class="group27">
                <img anima-src="{% static 'img/home-rectangle-5 2@2x.png' %}" class="rectangle51" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="su30b5u30a4u30bau306eu4e00u89a7u3078">
                    Sサイズの一覧へ
                </div>
            </div>
            <div class="u4e09u8fbau5408u8a08104115cmu91cdu91cf">
                三辺合計: 104~115cm
                <br/>
                重量: ~2.7kg
                <br/>
                容量: ~39L
            </div>
            <div class="combinedshape">
            </div>
            <div class="u6a5fu5185u6301u3061u8fbcu307fu30b5u30a4u30bau3002u65e5u5e30u308au65c5u884cu306au3069u306bu30aa">
                機内持ち込みサイズ。
                <br/>
                日帰り旅行などにオススメ
            </div>
            <div class="group26">
                <img anima-src="{% static 'img/home-u8d64u3044u3084u3064 3@2x.png' %}" class="u8d64u3044u3084u3064" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="s">
                    S
                </div>
            </div>
            <div class="a13u65e5u5411u3051">
                1~3日向け
            </div>
        </div>
        <img anima-src="{% static 'img/home-line-9 2@2x.png' %}" class="line92" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-line-9 3@2x.png' %}" class="line93" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="rectangle3">
        </div>
        <div class="serchsize">
            <div class="group55">
                <div class="group20">
                    <img anima-src="{% static 'img/home-oval-2@2x.png' %}" class="oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-rectangle-33@2x.png' %}" class="rectangle33" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
            </div>
            <div class="u5927u304du3055u30fbu822au7a7au4f1au793eu304bu3089u63a2u3059">
                大きさ・航空会社から探す
            </div>
        </div>
        <div class="lowcost">
            <div class="u4f4eu4fa1u683c">
                低価格
            </div>
            <div class="usdollarfontawesome">
                
            </div>
        </div>
        <img anima-src="{% static 'img/home-line-9 4@2x.png' %}" class="line94" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-line-9 5@2x.png' %}" class="line95" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="suitsingle3">
            <div class="rectangle30">
            </div>
            <div class="group14">
                <div class="rectangle5">
                </div>
                <div class="u5199u771f">
                    写真
                </div>
            </div>
            <div class="u301057u6ccau3011u30eau30e2u30a2u30b5u30ebu30b5u30a8u30a2u30fc4u8f2a">
                【5~7泊】リモア　サルサエアー　4輪　3.2kg
            </div>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="a800u51861u65e5">
                800円/1日
            </div>
        </div>
        <div class="suitsingle2">
            <div class="rectangle30">
            </div>
            <div class="group14">
                <div class="rectangle5">
                </div>
                <div class="u5199u771f">
                    写真
                </div>
            </div>
            <div class="u301057u6ccau3011u30eau30e2u30a2u30b5u30ebu30b5u30a8u30a2u30fc4u8f2a">
                【5~7泊】リモア　サルサエアー　4輪　3.2kg
            </div>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="a800u51861u65e5">
                800円/1日
            </div>
        </div>
        <div class="suitsingle1">
            <div class="rectangle30">
            </div>
            <div class="u301057u6ccau3011u30eau30e2u30a2u30b5u30ebu30b5u30a8u30a2u30fc4u8f2a">
                【5~7泊】リモア　サルサエアー　4輪　3.2kg
            </div>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-combined-shape 6@2x.png' %}" class="combinedshape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="a800u51861u65e5">
                800円/1日
            </div>
            <img anima-src="{% static 'img/home-u3059u30fcu306401@2x.png' %}" class="u3059u30fcu3064013" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="allpopular">
            <div class="u7dcfu5408u4ebau6c17">
                総合人気
            </div>
            <div class="trophyfontawesome">
                
            </div>
        </div>
        <img anima-src="{% static 'img/home-line-9 6@2x.png' %}" class="line96" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-line-9 7@2x.png' %}" class="line97" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="serchrank">
            <div class="rectangle271">
            </div>
            <div class="group9">
                <div class="u30e9u30f3u30adu30f3u30b0u3067u63a2u3059">
                    ランキングで探す
                </div>
                <div class="group17">
                    <img anima-src="{% static 'img/home-combined-shape 12@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="rectangle14">
                    </div>
                    <div class="rectangle32">
                    </div>
                    <div class="rectangle321">
                    </div>
                </div>
            </div>
        </div>
        <div class="rectangle31">
        </div>
        <div class="rectangle34">
        </div>
        <div class="a850u51861u65e5">
            850円/1日
        </div>
        <div class="a850u51861u65e51">
            850円/1日
        </div>
        <div class="a850u51861u65e52">
            850円/1日
        </div>
        <div class="rectangle20">
        </div>
        <div class="rectangle201">
        </div>
        <div class="rectangle202">
        </div>
        <div class="group21">
            <img anima-src="{% static 'img/home-oval-5@2x.png' %}" class="oval5" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="new">
                NEW
            </div>
        </div>
        <div class="u9001u6599u7121u6599">
            送料無料
        </div>
        <div class="u5373u65e5u767au9001">
            即日発送
        </div>
        <div class="u5168u54c1u65b0u54c1">
            全品新品
        </div>
        <div class="group16">
            <img anima-src="{% static 'img/home-line-2@2x.png' %}" class="line2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-line-3@2x.png' %}" class="line3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-line-4@2x.png' %}" class="line4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-line-10@2x.png' %}" class="line10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-line@2x.png' %}" class="line" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-oval-4@2x.png' %}" class="oval4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-oval-3@2x.png' %}" class="oval3" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="group24">
            <div class="group23">
                <div class="group22">
                    <img anima-src="{% static 'img/home-oval-7@2x.png' %}" class="oval7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="rectangle18">
                    </div>
                    <div class="rectangle38">
                    </div>
                    <div class="rectangle381">
                    </div>
                    <div class="rectangle382">
                    </div>
                    <img anima-src="{% static 'img/home-rectangle-38@2x.png' %}" class="rectangle383" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval-8 1@2x.png' %}" class="oval84" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval-8 1@2x.png' %}" class="oval81" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval-8 1@2x.png' %}" class="oval82" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval-8 1@2x.png' %}" class="oval83" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                </div>
                <img anima-src="{% static 'img/home-oval-8 4@2x.png' %}" class="oval8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <div class="rectangle17">
            </div>
            <div class="a24">
                24
            </div>
        </div>
        <div class="u3053u308cu3089u304c1u65e5800u5186u304bu3089u501fu308au3089u308cu307eu3059uff01">
            これらが1日800円から借りられます！
        </div>
        <div class="serchcase2">
            <style>
            .selected {
              border: 4px solid #555 !important;
            }
            </style>
            <script>
            $(function() {

              // display toggle
              var start_date = '';
              var return_date = '';
              var color_category = '';
              var type = '';
              var target = '';

              $('[name=select-box]').change(function() {
                selectStatus = $('[name=select-box]').val();
                var target = '.display-' + selectStatus + '.display-' + buttonStatus;
                $('.display').addClass('display-none');
                $(target).removeClass('display-none');
                return false;
              });

              $('.color_category').on('click', function() {
                color_category = $(this).attr("id");
                var target = '#' + color_category;
                $('.color_category').removeClass('selected');
                $(target).addClass('selected');
                return false;
              });

              $('.rectangle10').on('click', function() {
                type = $(this).attr("id");
                var target = '#' + type;
                $('.rectangle10').removeClass('selected');
                $(target).addClass('selected');
                return false;
              });

              $('#search').on('click', function() {

                if (start_date && return_date && color_category && type) {
                  var _href = $(this).attr("href");
                  $(this).attr("href", _href + '?start_date=' + start_date + '&return_date=' + return_date + '&color_category=' + color_category + '&type=' + type);
                } else {
                  alert('全ての項目を選択してください');
                  return false;
                }
              });
            });
            </script>
            <div class="group10">
                <img anima-src="{% static 'img/home-rectangle-7.png' %}" class="rectangle7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="group2">
                    <img anima-src="{% static 'img/home-rectangle-8@2x.png' %}" class="rectangle8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-icon125550256@2x.png' %}" class="icon125550256" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="u53d7u3051u53d6u308au65e5">
                        受け取り日
                    </div>
                </div>
                <div class="group3">
                    <img anima-src="{% static 'img/home-rectangle-8 1@2x.png' %}" class="rectangle8" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-icon125550256 1@2x.png' %}" class="icon125550256" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <div class="u8fd4u5374u65e5">
                        返却日
                    </div>
                </div>
                <div class="group6">
                    <div class="rectangle9">
                    </div>
                    <div class="u30abu30e9u30fc">
                        カラー
                    </div>
                </div>
                <div class="group61">
                    <div class="rectangle9">
                    </div>
                    <div class="u30b9u30b1u30b8u30e5u30fcu30eb">
                        スケジュール
                    </div>
                </div>
                <div class="group5">
                  <a href="#">
                    <div id="83e9607b821a4523b6b76424c606211a" class="oval color_category" style="background-color:#000; border-radius:50%;"></div>
                  </a>
                  <a href="#">
                    <div id="ba91c6518e244738be76356a21c24336"class="oval1 color_category" style="background-color:#202f55; border-radius:50%;"></div>
                  </a>
                  <a href="#">
                    <div id="7c79f1fa83d14af199c7be36f9a283c5"class="oval2 color_category" style="background-color:#808080; border-radius:50%;"></div>
                  </a>
                  <a href="#">
                    <div id="9c45ebc30677462fb8b82bc77d7a4aa4"class="oval3 color_category" style="background-color:#ff0000; border-radius:50%;"></div>
                  </a>
                  <a href="#">
                    <div id="23b5eb4dc687442d8a908a9a206caab4"class="oval4 color_category" style="background-color:#fff; border-radius:50%; border:1px solid #808080"></div>
                  </a>
                    <!-- <img anima-src="{% static 'img/home-oval@2x.png' %}" class="oval color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval@2x.png' %}" class="oval1 color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval 2@2x.png' %}" class="oval2 color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval 2@2x.png' %}" class="oval3 color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval@2x.png' %}" class="oval4 color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/> -->
                </div>
                <div class="group51">
                  <a href="#">
                    <div id="803d3ca3c8ee417093defc5fbf689fcd" class="oval color_category" style="background-color:#0000ff; border-radius:50%;"></div>
                  </a>
                  <a href="#">
                    <div id="f6fd917219ff4ba988195c72d62678f1"class="oval1 color_category" style="background-color:#008000; border-radius:50%;"></div>
                  </a>
                  <a href="#">
                    <div id="97b27639322e4ce4981c0861f151cfd2"class="oval2 color_category" style="background-color:#c0c0c0; border-radius:50%;"></div>
                  </a>
                  <a href="#">
                    <div id="c02659438d2040c1a355d81b6365c670"class="oval3 color_category" style="background-color:#ffa500; border-radius:50%;"></div>
                  </a>
                  <a href="#">
                    <div id="660531d0ca8c4c6e8b86e9f29f5bc524"class="oval4 color_category" style="background-color:#800080; border-radius:50%;"></div>
                  </a>
                    <!-- <img anima-src="{% static 'img/home-oval 2@2x.png' %}" class="oval color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval 2@2x.png' %}" class="oval1 color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval 2@2x.png' %}" class="oval2 color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval 2@2x.png' %}" class="oval3 color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                    <img anima-src="{% static 'img/home-oval 2@2x.png' %}" class="oval4 color_category" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/> -->
                </div>
                <div class="group4">
                    <div class="rectangle9">
                    </div>
                    <div class="u9375u306eu30bfu30a4u30d7">
                        鍵のタイプ
                    </div>
                </div>
                <div class="group11">
                    <div class="group35">
                        <div class="frame">
                            <img anima-src="{% static 'img/home-mask@2x.png' %}" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{% static 'img/home-frame@2x.png' %}" class="frame1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                      <a href="#">
                        <div id="fad072434ea244c194b114ac76907fb2" class="rectangle10">
                        </div>
                      </a>
                    </div>
                    <div class="u30d5u30ecu30fcu30e0">
                        フレーム
                    </div>
                    <div class="group32">
                        <div class="fastener">
                            <img anima-src="{% static 'img/home-mask 1@2x.png' %}" class="mask" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                            <img anima-src="{% static 'img/home-fastener@2x.png' %}" class="fastener1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                        </div>
                      <a href="#">
                        <div id="42b97a7c6e11489bbe5cf5d85fb41ce3" class="rectangle10">
                        </div>
                      </a>
                    </div>
                    <div class="u30d5u30a1u30b9u30cau30fc">
                        ファスナー
                    </div>
                </div>
                <img anima-src="{% static 'img/home-line-7.png' %}" class="line7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/home-line-7 1.png' %}" class="line71" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/home-line-7 2.png' %}" class="line72" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <a id="search" href="{% url 'main:search' %}">
                <div class="group8">
                    <img anima-src="{% static 'img/home-rectangle@2x.png' %}" class="rectangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                      <div class="u30b9u30fcu30c4u30b1u30fcu30b9u3092u63a2u3059">
                          スーツケースを探す
                      </div>
                </div>
            </a>
        </div>
        <img anima-src="{% static 'img/home-u3059u30fcu306401 3@2x.png' %}" class="u3059u30fcu306401" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-u3059u30fcu306401 3@2x.png' %}" class="u3059u30fcu3064011" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <img anima-src="{% static 'img/home-u3059u30fcu306401 3@2x.png' %}" class="u3059u30fcu3064012" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        <div class="serchcase">
            <div class="rectangle271">
            </div>
            <div class="group7">
                <img anima-src="{% static 'img/home-oval-6@2x.png' %}" class="oval6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <div class="rectangle28">
                </div>
                <img anima-src="{% static 'img/home-triangle@2x.png' %}" class="triangle" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <div class="u30b9u30fcu30c4u30b1u30fcu30b9u3092u3059u3050u306bu63a2u3059">
                スーツケースを簡単検索
            </div>
        </div>
        <div class="tenten">
            <img anima-src="{% static 'img/home-oval 11@2x.png' %}" class="oval" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-oval 11@2x.png' %}" class="oval1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/home-oval 11@2x.png' %}" class="oval2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="rectangle2">
        </div>
        <div class="u5e83u544au7684u306a">
            広告的な
        </div>
        <div class="header">
            <img anima-src="{% static 'img/customerinfo-rectangle-2.png' %}" class="rectangle21" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="group">
                <div class="rectangle6">
                </div>
                <div class="rectangle61">
                </div>
                <div class="rectangle62">
                </div>
            </div>
            <div class="group34">
                <img anima-src="{% static 'img/home-rectangle-24@2x.png' %}" class="rectangle24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/popular-all-line-12@2x.png' %}" class="line12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/done-oval-11@2x.png' %}" class="oval11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/done-oval-11@2x.png' %}" class="oval111" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/popular-all-line-6@2x.png' %}" class="line6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <div class="group33">
                <img anima-src="{% static 'img/home-rectangle-23@2x.png' %}" class="rectangle23" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/home-oval-10@2x.png' %}" class="oval10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <div class="stackedgroup">
                <div class="enybank">
                    EnyBank
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script>
        anima_isHidden = function(e) {
            if (!(e instanceof HTMLElement)) return !1;
            if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
            return !1;
        };
        anima_loadAsyncSrcForTag = function(tag) {
            var elements = document.getElementsByTagName(tag);
            var toLoad = [];
            for (var i = 0; i < elements.length; i++) {
                var e = elements[i];
                var src = e.getAttribute("src");
                var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                if (loaded) continue;
                var asyncSrc = e.getAttribute("anima-src");
                if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                if (anima_isHidden(e)) continue;
                toLoad.push(e);
            }
            toLoad.sort(function(a, b) {
                return anima_getTop(a) - anima_getTop(b);
            });
            for (var i = 0; i < toLoad.length; i++) {
                var e = toLoad[i];
                var asyncSrc = e.getAttribute("anima-src");
                e.setAttribute("src", asyncSrc);
            }
        };
        anima_pauseHiddenVideos = function(tag) {
            var elements = document.getElementsByTagName("video");
            for (var i = 0; i < elements.length; i++) {
                var e = elements[i];
                var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                var isHidden = anima_isHidden(e);
                if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                    e.play();
                } else if (isPlaying && isHidden) {
                    e.pause();
                }
            }
        };
        anima_loadAsyncSrc = function(tag) {
            anima_loadAsyncSrcForTag("img");
            anima_loadAsyncSrcForTag("iframe");
            anima_loadAsyncSrcForTag("video");
            anima_pauseHiddenVideos();
        };
        var anima_getTop = function(e) {
            var top = 0;
            do {
                top += e.offsetTop || 0;
                e = e.offsetParent;
            } while (e);
            return top;
        };
        anima_loadAsyncSrc();
        anima_old_onResize = window.onresize;
        anima_new_onResize = undefined;
        anima_updateOnResize = function() {
            if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                anima_new_onResize = function(x) {
                    if (anima_old_onResize != undefined) anima_old_onResize(x);
                    anima_loadAsyncSrc();
                };
                window.onresize = anima_new_onResize;
                setTimeout(function() {
                    anima_updateOnResize();
                }, 3000);
            }
        };
        anima_updateOnResize();
        setTimeout(function() {
            anima_loadAsyncSrc();
        }, 200);
    </script>
    <!-- End of Scripts -->
</div>

{% endblock %}
