{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block content %}

<p>rental complete</p>

{% if not request.user.is_authenticated %}
<p class="text-center"><a href="{% url 'social:begin' 'facebook' %}?next={% url 'main:rental_complete_social' %}" class="button">Facebook Login</a></p>

<form action="" method="post">
  {{ form }}
  {% csrf_token %}
  <p class="text-center"><input type="submit" value="signup" class="button"></p>
</form>
{% endif %}

<p class="text-center"><a href="{% url 'main:index' %}">back to home</a></p>

{% endblock %}
