{% extends 'base.html' %}
{% block title %}{% endblock %}
{% load static %}
{% block content %}

<p>search</p>

<p>{{ item }}</p>
<p>{{ fee }}</p>

<div style="margin: 0;
background: rgba(255, 255, 255, 1.0);">
    <input id="anPageName" name="page" type="hidden" value="suitcaseone"/>
    <div class="suitcaseone">
        <div class="hooter">
            <div class="rectangle4">
            </div>
            <div class="u30d5u30c3u30bfu30fc">
                フッター
            </div>
        </div>
        <a href="https://eny-bank.com">
            <div class="back">
                <img anima-src="{% static 'img/suitcase-one-rectangle-17@2x.png' %}" class="rectangle17" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <a href="{% url 'main:index' %}">
                    <div class="u2190u524du306eu30dau30fcu30b8u306bu623bu308b">
                        ←前のページへ
                    </div>
                </a>
            </div>
        </a>
        <!-- <div class="direction">
            <a href="http://eny-bank.com">
                <img anima-src="{% static 'img/suitcase-one-combined-shape@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </a>
            <a href="http://eny-bank.com">
                <img anima-src="{% static 'img/suitcase-one-combined-shape 1@2x.png' %}" class="combinedshape1" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </a>
        </div> -->
        <div class="main">
            <img anima-src="{% static 'img/suitcase-one-rectangle-7.png' %}" class="rectangle7" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="rectangle10">
            </div>
            <img anima-src="{% static 'img/suitcase-one-combined-shape 2@2x.png' %}" class="combinedshape" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <form action="" method="post">
            {% csrf_token %}
                    <button type="submit" name="item" value="{{ item.uuid }}" class="button" style="height:100%;width:100%;z-index:100;background-color:#FFF;">
                        <div class="u30ecu30f3u30bfu30ebu4e88u7d04u3059u308b"><p style="z-index:200;filter:alpha(opacity=100);">レンタル予約する</p></div>
                    </button>
            </form>
            <div class="group3">
                <div class="u696du754cu6700u5b892453280u5186">
                    業界最安¥{{ fee }}円
                </div>
                <div class="rectangle3">
                </div>
            </div>
            <div class="rectangle8">
            </div>
            <div class="remowajetnsj32l">
                <p style="font-size: 14px">{{ item.series }}</p>
            </div>
            <div class="rectangle9">
            </div>
            <div class="u5373u65e5u767au9001">
                即日発送
            </div>
            <div class="rectangle91">
            </div>
            <div class="u9001u6599u7121u6599">
                送料無料
            </div>
            <div class="rectangle92">
            </div>
            <div class="u65b0u54c1">
                新品
            </div>
            <div class="amazonu58f2u308cu7b4bu30e9u30f3u30adu30f3u30b0uff11u4f4du306eu4ebau6c17u5546">
                Amazon売れ筋ランキング１位の人気商品！
                <br/>
                軽量ながらも壊れにくい特殊な素材を使用
            </div>
            <img class="u3059u30fcu306401" src="{% with item.item_image_set.all|first as item_image %}{{ item_image.image.url }}{% endwith %}" style="object-fit: cover;"/>
        </div>
        <div class="group4">
            <div class="rectangle44">
            </div>
            <img anima-src="{% static 'img/suitcase-one-triangle-4@2x.png' %}" class="triangle4" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <img anima-src="{% static 'img/suitcase-one-triangle-4 1@2x.png' %}" class="triangle41" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
        </div>
        <div class="u3053u308cu304cu30aau30b9u30b9u30e1uff01uff01">
            これがオススメ！！
        </div>
        <div class="header">
            <img anima-src="{% static 'img/c-rectangle-2.png' %}" class="rectangle2" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            <div class="group">
                <div class="rectangle6">
                </div>
                <div class="rectangle61">
                </div>
                <div class="rectangle62">
                </div>
            </div>
            <div class="group34">
                <img anima-src="{% static 'img/suitcase-one-rectangle-24@2x.png' %}" class="rectangle24" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/suitcase-one-line-12@2x.png' %}" class="line12" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/suitcase-one-oval-11@2x.png' %}" class="oval11" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/suitcase-one-oval-11@2x.png' %}" class="oval111" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/suitcase-one-line-6@2x.png' %}" class="line6" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <div class="group33">
                <img anima-src="{% static 'img/suitcase-one-rectangle-23@2x.png' %}" class="rectangle23" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
                <img anima-src="{% static 'img/suitcase-one-oval-10@2x.png' %}" class="oval10" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="/>
            </div>
            <div class="stackedgroup">
                <div class="enybank">
                    EnyBank
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script>
        anima_isHidden = function(e) {
            if (!(e instanceof HTMLElement)) return !1;
            if (getComputedStyle(e).display == "none") return !0; else if (e.parentNode && anima_isHidden(e.parentNode)) return !0;
            return !1;
        };
        anima_loadAsyncSrcForTag = function(tag) {
            var elements = document.getElementsByTagName(tag);
            var toLoad = [];
            for (var i = 0; i < elements.length; i++) {
                var e = elements[i];
                var src = e.getAttribute("src");
                var loaded = (src != undefined && src.length > 0 && src != 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
                if (loaded) continue;
                var asyncSrc = e.getAttribute("anima-src");
                if (asyncSrc == undefined || asyncSrc.length == 0) continue;
                if (anima_isHidden(e)) continue;
                toLoad.push(e);
            }
            toLoad.sort(function(a, b) {
                return anima_getTop(a) - anima_getTop(b);
            });
            for (var i = 0; i < toLoad.length; i++) {
                var e = toLoad[i];
                var asyncSrc = e.getAttribute("anima-src");
                e.setAttribute("src", asyncSrc);
            }
        };
        anima_pauseHiddenVideos = function(tag) {
            var elements = document.getElementsByTagName("video");
            for (var i = 0; i < elements.length; i++) {
                var e = elements[i];
                var isPlaying = !!(e.currentTime > 0 && !e.paused && !e.ended && e.readyState > 2);
                var isHidden = anima_isHidden(e);
                if (!isPlaying && !isHidden && e.getAttribute("autoplay") == "autoplay") {
                    e.play();
                } else if (isPlaying && isHidden) {
                    e.pause();
                }
            }
        };
        anima_loadAsyncSrc = function(tag) {
            anima_loadAsyncSrcForTag("img");
            anima_loadAsyncSrcForTag("iframe");
            anima_loadAsyncSrcForTag("video");
            anima_pauseHiddenVideos();
        };
        var anima_getTop = function(e) {
            var top = 0;
            do {
                top += e.offsetTop || 0;
                e = e.offsetParent;
            } while (e);
            return top;
        };
        anima_loadAsyncSrc();
        anima_old_onResize = window.onresize;
        anima_new_onResize = undefined;
        anima_updateOnResize = function() {
            if (anima_new_onResize == undefined || window.onresize != anima_new_onResize) {
                anima_new_onResize = function(x) {
                    if (anima_old_onResize != undefined) anima_old_onResize(x);
                    anima_loadAsyncSrc();
                };
                window.onresize = anima_new_onResize;
                setTimeout(function() {
                    anima_updateOnResize();
                }, 3000);
            }
        };
        anima_updateOnResize();
        setTimeout(function() {
            anima_loadAsyncSrc();
        }, 200);
    </script>
    <!-- End of Scripts -->
</div>

{% endblock %}
